<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vero ad
    assumenda, quo dolore perspiciatis deserunt deleniti fuga corrupti facilis?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="CSS/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lemeno</h3>
        <p class="author__company">Execon</p>
      </div>
    </div>
  </footer>
</blockquote>
