<section class="block">
  <header class="block__header">
    <h2>What our costumers are saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
      consequuntur.
    </p>
  </header>
  <div class="container">
    <div class="testimonial-card">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="/CSS/images/testimonial.jpg" alt="" />
          <span class="icon-container icon--white icon--small">
            <svg class="icon">
              <use xlink:href="CSS/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            vero ad assumenda, quo dolore perspiciatis deserunt deleniti fuga
            corrupti facilis?
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="CSS/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lemeno</h3>
                <p class="author__company">Execon</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
